* {
    font-family: Raleway;
}

html, body {
    height: 100%;
}

nav, h3, .card, .jumbotron {
    margin-bottom: 1.5rem;
}

.redirect {
    margin-bottom: 1.2rem;
    padding: 15px;
    opacity: 0.9;
}

.redirect:hover {
    opacity: 1;
}

footer {
    background-color: #18BC9C;
    /* background-color: lightskyblue; */
    margin-top: 15px;
}

.navbar-nav {
    font-size: 1rem;
}

.sponsor-icon {
    margin-bottom: 7px;
}

.text {
    font-size: 1.2rem;
}

.bottom {
    height: 15px;
}

.jumbotron-btn {
    background-color: #18BC9C;
    opacity: 0.9;
    border: #18BC9C solid 1px;
}
